.body{
  margin: 0px;
  padding: 0%;
}
.nav-link{
  display: flex;
  list-style: none; width: 100%;
  /* background: #ec9898; */
  justify-content: space-evenly;
}
.nav-link li{
  list-style: none;
}
.navbarbody{
  background: #47746e;
  padding: 1px;
}
.link-styles{
  text-decoration: none;
}

.dashloading {
  /* width: 1000px; */
  display: block;
  text-align: center;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */

}